apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway
  namespace: fiapx
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gateway
  template:
    metadata:
      labels:
        app: gateway
    spec:
      containers:
      - name: gateway
        image: fiapx-gateway:latest # Substituir pela imagem real no ECR/DockerHub
        imagePullPolicy: IfNotPresent # Para testar localmente
        env:
        - name: DATABASE_URL
          valueFrom:
            secretKeyRef:
              name: fiapx-secret
              key: DATABASE_URL
        - name: RABBITMQ_URL
          valueFrom:
            secretKeyRef:
              name: fiapx-secret
              key: RABBITMQ_URL
        - name: SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: fiapx-secret
              key: SECRET_KEY
        - name: SHARED_DIR
          valueFrom:
            configMapKeyRef:
              name: fiapx-config
              key: SHARED_DIR
        ports:
        - containerPort: 8000
        resources:
          limits:
            cpu: "500m"
            memory: "512Mi"
          requests:
            cpu: "250m"
            memory: "256Mi"
        volumeMounts:
        - name: shared-data
          mountPath: /data
      volumes:
      - name: shared-data
        persistentVolumeClaim:
          claimName: shared-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: gateway-service
  namespace: fiapx
spec:
  type: LoadBalancer # Ou NodePort localmente
  ports:
  - port: 80
    targetPort: 8000
    protocol: TCP
  selector:
    app: gateway
---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: gateway-hpa
  namespace: fiapx
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: gateway
  minReplicas: 1
  maxReplicas: 5
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 70
