apiVersion: v1
kind: Namespace
metadata:
  name: fiapx
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: fiapx-config
  namespace: fiapx
data:
  DATABASE_HOST: "postgres-service"
  DATABASE_PORT: "5432"
  DATABASE_DB: "fiapx_db"
  RABBITMQ_HOST: "rabbitmq-service"
  RABBITMQ_PORT: "5672"
  SHARED_DIR: "/data"
---
apiVersion: v1
kind: Secret
metadata:
  name: fiapx-secret
  namespace: fiapx
type: Opaque
data:
  # Valores em base64 (user/password/secret)
  # user: user, password: password
  POSTGRES_USER: dXNlcg==
  POSTGRES_PASSWORD: cGFzc3dvcmQ=
  RABBITMQ_DEFAULT_USER: dXNlcg==
  RABBITMQ_DEFAULT_PASS: cGFzc3dvcmQ=
  # Connection Strings montadas
  DATABASE_URL: cG9zdGdyZXNxbDovL3VzZXI6cGFzc3dvcmRAcG9zdGdyZXMtc2VydmljZTo1NDMyL2ZpYXB4X2Ri
  RABBITMQ_URL: YW1xcDovL3VzZXI6cGFzc3dvcmRAcmFiYml0bXEtc2VydmljZTo1NjcyLw==
  SECRET_KEY: c3VwZXJfc2VjcmV0X2tleQ==
